{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
<h1>Edit Comment</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save Changes</button>
{{ form_end(form) }}

<a href="{{ path('app_article_show', {'id': comment.article.id}) }}" class="btn btn-light">Back to Article</a>
{% endblock %}
